
:root {
    --spinny: 12vmin;
    --offset: calc(var(--spinny) * -0.5);
}

div.loadingSpinner {
    z-index: 0;
    border: 0.5vmin solid #ebebcf;
    border-radius: 50%;
    border-bottom: 0.5vmin solid #3c3c3c;
    border-top: 0.5vmin solid #3c3c3c;
    box-sizing: border-box;
    width: var(--spinny);
    height: var(--spinny);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: var(--offset) 0 0 var(--offset);
    animation: spinner 3s linear infinite;
}
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
