:root {
    --size: 80vw;
    --windowContainerRows: 1fr calc(var(--size)*1/1) 1fr;
    --windowContainerCols: 1fr var(--size) 1fr;
    --bgColor: #1a1a1a;
    --textColor: #3c3c3c;
    --textHoverColor: #4488ee;
    --paperColor: #ffffeb;
    --badgeFontSize: 1.75vmin;
}

@media (min-aspect-ratio: 1/1) {
    :root {
        --size: 80vh;
        /* --windowContainerRows: 1fr var(--size) 1fr; */
        /* --windowContainerCols: 1fr calc(var(--size)*1/1) 1fr; */
    }
}

@media (min-aspect-ratio: 3/2), (max-aspect-ratio: 2/3) {
    :root {
        --badgeFontSize: 2.5vmin;
    }
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bgColor);
}

.windowContainer {
    background-color: var(--bgColor);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: var(--windowContainerRows);
    grid-template-columns: var(--windowContainerCols);
}

.thingContainer {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    background-color: var(--paperColor);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.textBox {
    grid-area: 1 / 1 / 2 / 2;
    padding: 0;
    margin: 0;
    width: 80%;
    height: 65%;
    z-index: 25;
    align-self: center;
    justify-self: center;
    padding: 2vmin;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

p {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 50;
    font-family: "Courier", Courier, monospace;
    font-size: 2.25vmin;/*24px;*/
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
    line-height: 125%;
    margin: 0;
    padding: 0;
    border: 0px solid #4488ee;
    align-self: start;
    justify-self: center;
    text-align: center;
}

.pLink:hover {
    color: var(--textHoverColor);
}

a {
    text-decoration: none;
}

h1 {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 50;
    font-family: "Courier", Courier, monospace;
    font-size: 4vmin;/*24px;*/
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
    line-height: 100%;
    margin: 0;
    padding: 0;
    border: 0px solid transparent;
    align-self: start;
    justify-self: center;
    text-align: center;
}

h1:hover {
    color: var(--textHoverColor);
}

.warning {
    color:#cc0000;
}

#menuButton {
    position: fixed;
    bottom: 3vmin;
    left: 3vmin;
    color: var(--paperColor);
    cursor: pointer;
}

#vidLinkBox {
    position: fixed;
    bottom: 2vmin;
    left: 8vmin;
    background-color: var(--paperColor);
    height: 4vmin;
    width: 30vmin;
    display: none;
    transition: opacity 1s;
    opacity: 0;
    z-index: 100;
}

#vidLink {
    align-self: center;
    justify-self: center;
    text-align: center;
}

#resBadge {
    font-size: var(--badgeFontSize);
    position: fixed;
    top: 2vmin;
    left: 2vmin;
    color: var(--textColor);
}

#platformConflictText {
    font-size: var(--badgeFontSize);
    position: fixed;
    bottom: 2vmin;
    left: 2vmin;
    right: 2vmin;
    margin: 2vmin;
    color: var(--textColor);
}

.thingView {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    background-color: var(--paperColor);
    transition: opacity 4s ease-in;
    z-index: 1;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.viewCanvas {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    background-color: var(--paperColor);
    opacity: 0;
    transition: opacity 4s ease-in;
    z-index: 1;
    margin: -5px 0px 0px -5px;
}

.downloadImageButton {
    --textToggleButtonWidth: 8vmin;
    --textToggleButtonHeight: calc(var(--textToggleButtonWidth) / 2.5);
    background-color: #ffffeb;
    position: fixed;
    right: 2%;
    top: 2%;
    margin: 0%;
    width: var(--textToggleButtonWidth);
    height: var(--textToggleButtonHeight);
    outline: 0;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.downloadImageButtonText {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 50;
    font-family: "Courier", Courier, monospace;
    font-size: 2vmin;
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
    line-height: 100%;
    margin: 0;
    padding: 0;
    border: 0px solid #4488ee;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.licenseLink {
    --licenseWidth: 3vmin;
    --licenseHeight: calc(var(--licenseWidth) * 2.839);
    position: fixed;
    right: 1%;
    bottom: 1%;
    margin: 0%;
    width: var(--licenseHeight);
    height: var(--licenseWidth);
    cursor: pointer;
}

.licenseImg {
    width: 100%;
    height: 100%;
}